node_modules/
*.pcm
*.wav
microtone-worker/test/reference/
microtone-worker/test/corpus/
.DS_Store
CLAUDE.*
__pycache__/
*.sf2
*.taud.sf2
microtone-worker/favicon/
microtone-worker/index_kaputt.html
/*.taud
/*.it
/*.IT
/*.xm
/*.XM
/*.s3m
/*.S3M
/*.mod
/*.MOD
/*.mon
/*.MON
/*.ims
/*.IMS
/*.bnk
/*.BNK
